html {
    color: black;
    background-color: white;
}
body{
    display: block;
}

header {
    display: flex;
    font-family: Helvetica;
    line-height: 1.45;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
    font-weight: bold;
    border-bottom: 1px solid black;
    width: 100%;
    height: 80px;
    flex-wrap: column nowrap;
}
.imagestory span {
    color: white;
    text-align: center;
}

.lead span {
    font-family: Georgia;
    font-weight: bold;
    font-size: 40px;
    color: white;
    margin: 0 0 0 20px;
    
}
.logo {
    color: mediumaquamarine; 
    align-items: center;
    width: 1000px;
}
header span {
    align-items: space-between;
    
}
nav span{
    display: inline-flex;
    align-items: center;
    margin-left: 100px;
}

div {
    color: black;
    font-size: 14px;
    border: black solid 2px;
}

article {
    color: black;
    font-family: Georgia;
    font-size: 17px;
}
span {
    font-size: 25px; 
    display: flex;
    align-items: flex-end;   
}

.maincontent {
    position: relative;
    top: 70px;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    z-index: 5;
}

.lead {
    background-image: url("../resources/img-story-main.png") center no-repeat;
}

.lead span {
    font-family: Georgia;
    font-weight: bold;
    font-size: 40px;
    color: white;
    margin: 0 0 0 20px;
    border: black 2px; 
}
.imagestory {
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: contain;
    width: 100%;
    height: 300px; 
}
.imagestory span{
    text-align: center;
}
textstory {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
    
}
.column { 
    border: black 2px;
    margin: 0 32px 0 0;
    align-items: center;
    display: flex;
    flex-flow: column wrap;
}
.large  { 
    display: flex;
    flex-flow: row wrap; 
    justify-content: space-between;
    border: black 2px;
    max-width: 630px;

}

.column-middle {
    display: flex;
    max-width: 300px;
    display: flex;
    margin: 8px;
    border: black 2px;
    flex-direction: column;
}
.column-right {
    max-width: 240px; 
    display: flex;
    margin: 6px;
    border: black 10 20px;
    flex-direction: column;
}

.earth {
    background-image: url("../resources/img-story-2.png");
}

.camera {
    color: white;
    background-image: url("../resources/img-story-3.png");
}

.burger {
    background-image: url("../resources/");
}
.cameras.h2
.fall-cancelled.h2
.bites.h2 {
    color: white;
    
}

.narrative {
    font-family: Georgia:
    color: black;
    font-size: 17px; 
}

footer {
    font-family: Georgia;
    font-size: 16px;
    font-weight: bold;
    color: white;
    width: 100%;
    background-color: mediumaquamarine;
    height: 300px;
    flex-direction: row;
    display: inline-flex;
    position: fixed;
}